/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*End Reset*/

header {
    display: flex;
    background-color: orange;
    justify-content:space-between;
}

nav {
    margin: 3.5rem 5rem 0rem 2rem;
}

.navbar-nav .nav-link.active {
    color: white;
}

nav ul {
    
    list-style: none;
    font-family: montserrat;
    font-weight: 600;
    gap: 1.25rem;
    font-size: 20px;
    display: flex;
    width: auto;
}

nav ul li a {
    text-decoration: none;
    color: white;
    
    
}

nav ul li a:hover {
    
    color: black;
    
    
}

.navbar-custom {
    background-color: orange;
}

.img-index {
    width: 100%;
}

header img {
    width: 15rem;
    
}

.section-ppal div{
    width: 50%;
}
.section-ppal {
    display: flex;
    background: linear-gradient(orange, white);
    padding-left: 2rem;
    justify-content: space-between;
}


.section-ppal div h1{
    font-family: montserrat;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: white;
}

.section-ppal div p{
    font-family: montserrat;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: left;
    color: white;
}

.section-ppal button {
    font-family: montserrat;
    font-weight: 600;
    font-size: .9375rem;
    border-radius: .3125rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    background-color:transparent;
    border-color: white;

}

.main-index1 {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: space-around;
    background-color: lightgray;
}

.main-index1 section {
    width: 250px;
    height: 300px;
    margin: 2px 0px 0px 0px;
    
}

.features-box {
    font-family: montserrat;
    font-weight: 700;
}

.main-index1 section article p {
    font-family: montserrat;
    font-weight: 300;
}

.section-documentation {
    display: flex;
    justify-content: space-between;

}

.section-documentation div img {
    width: 100%;
    margin: 2rem 2rem 0rem 4rem;
}

.div2-documentation {
    width: 50%;
    font-family: montserrat;
    margin: 10rem 4rem 0rem 4rem;
}

.div2-documentation h2 {
    margin-bottom: 2rem;
}

.div2-documentation p {
    margin-bottom: 2rem;
}


.div2-documentation button {
    background-color: orange;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 50px;
    margin: 2rem 0rem 0rem 0rem;
    color: white;
}

.logo-footer img {
    width: 15rem;
    margin: 2rem 2rem 0rem 2rem;
}

.logo-footer p {
    margin: 2rem 2rem 0rem 2rem;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    background-color: orange;
}

.footer-container2 ul {
    display: flex;
    justify-content: space-between;
    margin: 3.25rem 3.25rem 0rem 0rem;
    list-style: none;
}

.footer-container2 ul li a {
    text-decoration: none;
    font-family: montserrat;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.form-container {
    margin-top: 3.25rem;
}

.form-container form {
    font-family: montserrat;
    margin-bottom: 2rem;
    text-align: center;
}

/*Features Code*/

h1 {

    text-align: center;
    font-family: montserrat;
    font-weight: 700;
}

.grid-layout {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    
    
}

.grid-layout section {
    text-align: center;
    margin-top: 10px;
    width: 20.5rem;
    height: 11.6875rem;
    border: 3px solid black;
    margin-bottom: 15px;
    font-family: montserrat;
}

.download-section {
    background-color: black;
    text-align: center;
    

}

.download-section h2 {
    color: white;
    font-family: montserrat;  

}

.download-section button {
    border: 4px solid white;
    font-family: montserrat;
    font-weight: 700;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    margin: 1rem 0rem 1rem 0rem;

}

.screenshots-features h1{
    padding: 25px;
}

.screenshots-features article {
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-grid {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 15px;
}

.slide-control {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgray;
    
}

.slide-control1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
}

.section-download {
    margin: 80px 0px 80px 0px;
}

.section-download article h1 {
    font-family: montserrat;
    font-size: 62px;
}

.section-download article h2 {
    font-family: montserrat;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}
.section-download article h3 {
    font-family: montserrat;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.div-padre {
    padding-top: 20px;
    display: grid;
    width: 100%;
    height: 648px;
    grid-template-columns: 35% auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    grid-template-areas: 
    "div1 div5"
    "div2 div5"
    "div3 div5"
    "div4 div5";
}

.div-1 {
    grid-area: div1;
}
.div-2 {
    grid-area: div2;
}
.div-3 {
    grid-area: div3;
}
.div-4 {
    grid-area: div4;
}
.div-5 {
    grid-area: div5;
}






.div-1 {
    display: grid;
    grid-template-columns: 10% auto;
    width: 250px;
    height: 100px;
    border: solid 2px black;
    font-family: montserrat;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    grid-template-areas: 
    "img h3"
    "p p";
    }

    .div-1 img {
        grid-area: img;
    }

    .div-1 h3 {
        grid-area: h3;
    }

    .div-1 p{
        grid-area: p;
    }

.div-2 {
    display: grid;
    grid-template-columns: 10% auto;
    width: 250px;
    height: 100px;
    border: solid 2px black;
    font-family: montserrat;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    grid-template-areas: 
    "img h3"
    "p p";
    }

    .div-2 img {
        grid-area: img;
    }

    .div-2 h3 {
        grid-area: h3;
    }

    .div-2 p{
        grid-area: p;
    }
.div-3 {
    display: grid;
    grid-template-columns: 10% auto;
    width: 250px;
    height: 100px;
    border: solid 2px black;
    font-family: montserrat;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    grid-template-areas: 
    "img h3"
    "p p";
    }

    .div-3 img {
        grid-area: img;
    }

    .div-3 h3 {
        grid-area: h3;
    }

    .div-3 p{
        grid-area: p;
    }
.div-4 {
    display: grid;
    grid-template-columns: 10% auto;
    width: 250px;
    height: 100px;
    border: solid 2px black;
    font-family: montserrat;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    grid-template-areas: 
    "img h3"
    "p p";
    }

    .div-4 img {
        grid-area: img;
    }

    .div-4 h3 {
        grid-area: h3;
    }

    .div-4 p{
        grid-area: p;
    }

    .div-5 {
        border: solid 2px black;
        font-family: montserrat;
        margin-right: 20px;
    }

.form-padre {
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto 35%;
    width: 100%;
    height: 392px;
    padding-top: 20px;
    justify-content: center;
    gap: 10px;
    grid-template-areas: 
    "input1 input2"
    "input3 input4"
    "input5 input5";
}

.input1  {
    grid-area: input1 ;
}
.input2  {
    grid-area: input2 ;
}
.input3  {
    grid-area: input3 ;
}
.input4  {
    grid-area: input4 ;
}
.input5  {
    grid-area: input5 ;
}

.maps {
    padding: 20px 20px 20px 20px;
}


/*Media Queries*/

@media (max-width: 1024px)

    {

    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 10rem;
        text-align: center;
    }
    nav {
        margin: 3.5rem 5rem 0rem 2rem;
        
    }
    
    nav ul {
    font-size: 12px;
    flex-direction: column;
    text-align: center;
    }
    
    .section-ppal div h1 {
    font-size: 1.5rem;
    }
    
.main-index1 {
    grid-template-columns:auto;
    grid-template-rows: auto auto auto;
    font-size: 14px;
    gap: 0px;
}

.main-index1 section {
    margin: 0;
}

.section-documentation {
    flex-direction: column;
}

.section-documentation div img {
    width: 99%;
    margin: 0;
}

.div2-documentation{
    margin: 0;
    width: 100%;
    text-align: center;
}

.div2-documentation button{
    margin: 2rem 0rem 2rem 0rem;
}

.logo-footer img{
    width: 10rem;
}

.footer-container{
    width: 100%;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
}

.section-documentation div img {
        width: 60%;
        margin: 0;
        
}

.img-documentation {
    display: flex;
    justify-content: center;
}

.footer-container2 ul {
flex-wrap: wrap;

}

.section-ppal button {
    color: black;
    border-color: black;

}

@media (max-width: 768px){
    
}

@media (max-width: 425px){
    
}

@media (max-width: 375px){

}

@media (max-width: 320px){

}