@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/maps";
@import "./utilities/funciones";

@import "./base/reset";
@import "./base/typo";

@import "./components/bootstrap";

@import "./layout/contact";
@import "./layout/download";
@import "./layout/header";
@import "./layout/section_documentation";
@import "./layout/main";
@import "./layout/footer";
@import "./layout/features-code";


@import "./layout/media/_media1024.scss";
@import "./layout/media/media320";
@import "./layout/media/media375";
@import "./layout/media/media425";
@import "./layout/media/media768";


.img-index {
    width: 100%;
}

.section-ppal {
    display: flex;
    background: $color-ppal;
    padding-left: 2rem;
    justify-content: space-between;

    

    div{
        width: 50%;

    }

        h1{
            @include font-montserrat(700, 2.5rem, white);
            
                animation-duration: 3s;
                animation-name: slidein;
                @keyframes slidein {
                    from {
                margin-left: 100%;
                width: 300%;
                    }
                
                    to {
                    margin-left: 0%;
                    width: 100%;
                    }
            }
        }

    p{
            font-family: montserrat;
            font-weight: 300;
            margin-bottom: 1rem;
            text-align: left;
            color: rgb(255, 255, 255);
            font-size: map-get($font-size, md);
        
    }

    button {
        font-family: montserrat;
        font-weight: 600;
        font-size: .9375rem;
        border-radius: .3125rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: white;
        background-color:transparent;
        border-color: white;
        
    }
}