@media (max-width: 768px){
    
    .section-ppal {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    div {

        width: 100%;
        text-align: center;
        }
    button{
        margin: auto;
        text-align: center;
        align-items: center;
        }

    div p {
        text-align: center;
    }
}

    .img-index {
        width: 100%;
    }

.grid-layout {
        grid-template-columns: auto;
    }
    
    
    .download-section img {
        max-width: 100%;
        
    }

}
