.form-padre {
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto 35%;
    width: 100%;
    height: 392px;
    padding-top: 20px;
    justify-content: center;
    gap: 10px;
    grid-template-areas: 
    "input1 input2"
    "input3 input4"
    "input5 input5";
}

.input1  {
    grid-area: input1 ;
}
.input2  {
    grid-area: input2 ;
}
.input3  {
    grid-area: input3 ;
}
.input4  {
    grid-area: input4 ;
}
.input5  {
    grid-area: input5 ;
}

.maps {
    padding: 20px 20px 20px 20px;
}
