.main-index1 {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: space-around;
    background-color: lightgray;

    section {
        width: 250px;
        height: 300px;
        margin: 2px 0px 0px 0px;
        
    }

    section article p {
        font-family: montserrat;
        font-weight: 300;
    }
}

.features-box {
    font-family: montserrat;
    font-weight: 700;
    font-size: map-get($font-size, s);
}
