.main-index1 {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: space-around;
    background-color: lightgray;
}

.main-index1 section {
    width: 250px;
    height: 300px;
    margin: 2px 0px 0px 0px;
    
}

.main-index1 section article p {
    font-family: montserrat;
    font-weight: 300;
}